
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutWithoutTemplate.cshtml";

}


<div class="page-header login-page header-filter" filter-color="black" style="background-image: url('/Content/img/login.jpg'); background-size: cover; background-position: top center;">
    <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
                <form class="form" method="post" action="@Url.Action("Login","Account")">
                    <div class="card card-login">
                        <div class="card-header card-header-rose text-center">
                            <h4 class="card-title">Login</h4>

                        </div>
                        <div class="card-body ">
                
                            <span class="bmd-form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">email</i>
                                        </span>
                                    </div>
                                    <input type="email" name="email" class="form-control" placeholder="Email...">
                                </div>
                            </span>
                            <span class="bmd-form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">lock_outline</i>
                                        </span>
                                    </div>
                                    <input type="password" class="form-control" name="password" placeholder="Password...">
                                </div>
                            </span>
                        </div>
                        @if (ViewBag.IsSuccess  == true)
                        {
                            <div class="card-footer justify-content-center">
                                <div class="alert alert-success">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <i class="material-icons">close</i>
                                    </button>
                                    <span>
                                        <b>Login successful </b>
                                    </span>
                                </div>
                            </div>
                        }

                        @if (ViewBag.IsSuccess == false)
                        {
                            <div class="card-footer justify-content-center">
                                <div class="alert alert-danger">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <i class="material-icons">close</i>
                                    </button>
                                    <span>
                                        <b> Error - </b>@ViewBag.Message
                                    </span>
                                </div>
                            </div>
                        }


                  
                        <input type="submit" href="#pablo" class="btn btn-rose btn-link btn-lg" value="Get Started">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <nav class="float-left">
                <ul>
                    <li>

                    </li>
                    <li>
                    </li>
                    <li>

                    </li>
                    <li>

                    </li>
                </ul>
            </nav>
            <div class="copyright float-right">

            </div>
        </div>
    </footer>
</div>